* {
  ;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;

}

body {
  margin: 0 auto;
  padding: 0;
  width: 50%;
  background: #0964ec;
  padding: 15px; 
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #ff2a2a;
  font-weight: bold;
}

.menu {
  font-size: 24px;
}
.location {
  background: white;
  padding: 15px;
  border-radius: 15px;
  margin: 15px 0;
}

.location .title {
  font-weight: bold;
}

.location .subtitle {
  color: gray;
  font-size: 14px;
}

.location-btns {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

button.gray {
  background: #eee;
}

button.red {
  background: #ff2a2a;
  color: white;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.services img{
    width: 50%;
    height: 50%;
    border-radius: 30px;
    margin: 6px; 
   
}

.service {
  padding: 20px;
  border-radius: 15px;
  font-weight: bold;
}

.shortcuts {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.shortcuts div {
  padding: 10px;
  border-radius: 12px;
  font-size: 12px;
  text-align: center;
}
.shortcuts img{
     width: 55px;
     height: 55px;
      border-radius: 18px;
  
}

.destination {
  background: white;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}
.history .item {
  background: white;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.history span {
  display: block;
  color: gray;
  font-size: 13px;
}

.history small {
  float: right;
  color: gray;
}
.section-content{
    display: flex;
    gap: 40px;
    margin-bottom: 3%;
}
.white-btn{
    background-color: transparent;
  border: 1px solid ;
  border-radius: 20px;
  padding: 10px 30px;
  transition: 0.5s;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;

}

