* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  margin-right: 5%;

}
.img-logo img{
    width: 15px;
    height: 25px;
    border-radius: 50%;
    margin-inline: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

}
.login{
  border: 3px solid rgba(13, 12, 12, 0.874);
  width: 50%;
  height: 70%;
  background-color: rgb(243, 253, 253);
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(13, 13, 14);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}

.logo {
  color: #ff2a2a;
  font-weight: bold;
}

.menu {
  font-size: 24px;
}
.location {
  background: white;
  padding: 15px;
  border-radius: 15px;
  margin: 15px;
}

.location .title {
  font-weight: bold;
}

.location .subtitle {
  color: gray;
  font-size: 14px;
}

.location-btns {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

button.gray {
  background: #eee;
}

button.red {
  background: #ff2a2a;
  color: white;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: right ;
}
.services img{
    width: 50%;
    height: 50%;
    border-radius: 20px;
    margin: 20px; 
    text-align: right ;
   
}

.service {
  padding: 20px;
  border-radius: 15px;
  font-weight: bold;
}

.shortcuts {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.shortcuts div {
  padding: 10px;
  border-radius: 12px;
  font-size: 12px;
  text-align: center;
}
.shortcuts img{
     width: 55px;
     height: 55px;
      border-radius: 18px;
  
}

.destination {
  background: white;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  font-weight: bold;
}
.history .item {
  background: white;
  padding: 15px;
  margin: 5px;
  border-radius: 12px;
  margin-bottom: 10px;
  
}

.history span {
  display: block;
  color: gray;
  font-size: 13px;
}

.history small {
  float: right;
  color: gray;
  display: block ;
}
.section-content{
    display: flex;
    gap: 40px;
    margin-bottom: 3%;
}
.white-btn{
    background-color: rgb(228, 228, 226);
  border: 2px solid rgb(216, 216, 215) ;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  display: flex;

}