* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  margin-right: 5%;

}
li{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-align: right;
}
.img-logo img{
    width: 15px;
    height: 25px;
    border-radius: 50%;
    margin-inline: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login{
  border: 2.5px solid rgba(13, 12, 12, 0.874);
  width: 70%;
  height: 50%;
  background-color: rgb(245, 253, 253);
  border-radius: 20px;
  box-shadow: 0px 0px 20px black;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}

.logo {
  color: #ff2a2a;
  font-weight: bold;
}

.menu {
  font-size: 24px;
}
.location {
  background: white;
  padding: 15px;
  border-radius: 15px;
  margin: 15px;
}

.location .title {
  font-weight: bold;
}

.location .subtitle {
  color: gray;
  font-size: 14px;
}

.location-btns {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 10px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

button.gray {
  background: #eee;
}

button.red {
  background: #ff2a2a;
  color: white;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: right ;
}
.services img{
    width: 50%;
    height: 50%;
    border-radius: 20px;
    margin: 20px; 
    text-align: right ;
   
}

.service {
  padding: 20px;
  border-radius: 15px;
  font-weight: bold;
}

.shortcuts {
  text-align: left;

}

.shortcuts div {
  padding: 10px;
  border-radius: 12px;
  font-size: 12px;
    gap: 40px;
}
.shortcuts ul li {
  background-color: #f9f9f9;
  display: inline-block;
  list-style: none;
  line-height: 5px;
  margin: 0 auto;
}
.shortcuts img{
  margin: 7px;
     width: 60px;
     height: 50px;
      border-radius: 18px;
}
.history .item {
  background: white;
  padding: 15px;
  margin: 5px;
  border-radius: 12px;
  margin-bottom: 10px;
  
}

.history span {
  display: block;
  color: gray;
  font-size: 13px;
}

.history small {
  float: right;
  color: gray;
  display: block ;
}
.section-content{
    display: flex;
    gap: 40px;
    margin-bottom: 3%;
}
.white-btn{
    background-color: rgb(243, 243, 233);
  border: 2px solid rgb(216, 216, 215) ;
  border-radius: 15px;
  padding: 10px;
  font-weight: bold;
  display: flex;

}